.nav-link{
    font-size: 2em;
}
h2{
    font-size: 2rem;
}
p {
    font-size: 1.5rem;
}
label{
    font-size: 1.5rem;
}
th{
    background-color: lightgrey;
    font-size: 1.5em;
}
td{
    font-size: 1.2rem;
}